<!-- TO-DO: design assign task -->
<!--
Data render from server: 
  title: string
  weeks: [int]
  data: {
    unassigned: [string],
    schedule: [{
      route: string
      vehicle: string
      id: string
    }] OR [{
      troller: string
      mcp: string
      id: string
    }]
  }
  filter: {
    week: int
    type: string
    lastModified: string/datetime
    startDay: datetime
  }
-->
<%- include("partials/header"); -%>
  <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/assign_task.css">
</head>
<body>
    <!-- Header box -->
    <!-- 1. Header: Title, 2 dropdown (Week, Actor) -->
    <h1 class="title">ASSIGN TASK</h1>

      <!-- Create Button -->
      <button class="create" type="button" id="newWeek">   
        Create   
      </button>

    <!-- Week Dropdown-Button -->
    <div class="dropdown selectWeek">
      <div class="select">
        <span class="selected">Week <%= filter.week %></span>
        <div class="caret"></div>
      </div>
      <ul class="menu menuWeek">
        <% weeks.forEach(week => { %>
          <% if (week == filter.week) { %>
            <li class="active">Week <%= week %></li>
          <% } else { %>
            <li>Week <%= week %></li>
          <% } %>
        <% }); %>
      </ul>
    </div>

    <!-- Actor Dropdown-Button -->
    <div class="dropdown selectType">
      <div class="select">
        <span class="selected"><%= filter.type %></span>
        <div class="caret"></div>
      </div>
      <ul class="menu menuType">
        <% if (filter.type === "Collector") { %>
          <li class="active">Collector</li>
          <li>Janitor</li>
        <% } else { %>
          <li class="active">Janitor</li>
          <li>Collector</li>
        <% } %>
      </ul>
    </div>



    <!-- 2. Body: 2 tables (Unassigned List, Avalable Table) -->
    <!-- Unassigned -->
    <div class="Unassigned">
        <table>
          <thead>
            <tr>
              <th>Unassigned</th>
            </tr>
          </thead>
          <tbody id="unassignedZone">
            <% data.unassigned.forEach(employee => { %>
              <tr><td class="Actor"><button draggable="true" class="employee unassigned" id=<%= employee.id %>><%= employee.id %></button></td></tr>
            <% }); %>
          </tbody>
        </table>
    </div>
    <!-- Available Table -->
    <div class="container">
          <table>
            <thead style="display:table-header-group">
              <tr>
                <% if (filter.type === "Collector") { %>
                  <th>Route</th>
                  <th>Vehicle</th>
                <% } else { %>
                  <th>MCP</th>
                  <th>Troller</th>
                <% } %>
                <th>Assignee</th>
              </tr>
            </thead>
            <tbody id="schedule">

              
              <% data.schedule.forEach(task => { %>
                <tr>
                  <% if (filter.type === "Collector") { %>
                    <td class="col"><%= task.route %></td>
                    <td class="col"><%= task.vehicle %></td>
                  <% } else { %>
                    <td class="col"><%= task.mcp %></td>
                    <td class="col"><%= task.troller %></td>
                  <% } %>

                  <% if (task.id) { %>
                    <td class="Actor assignedZone"><button draggable="true" class="employee" id=<%= task.id %>><%= task.id %></button></td>
                  <% } else { %>
                    <td class="Actor assignedZone"></td>
                  <% } %>
                </tr>
              <% }); %>
            
            </tbody>
          </table>
    </div>



    <!-- 3.Footer: Last modified, Same as last week, Save -->
    <div class="footer">
      <!-- Last modified -->
      <label id="time">Last modified: 12:00AM 05/11/2022</label>

      <!-- Same as last week -->
      <label class="same-as-last-week">Same as last week
        <input type="checkbox" id="same">
        <span class="checkmark"></span>
      </label>

      <!-- Save -->
      <button class="save" type="button" id="save">   
        Save   
      </button>
    </div>   

    <script src="/js/assign-task.js"></script>
<%- include("partials/footer"); -%>
